body{
  font-family: 'Cuprum';
  background-color:#FFFFEA;
  overflow:hidden;
}

a{
  text-decoration: none!important;
}


#header{
  background-color:transparent;
  color:white;
  position:fixed;
  left:0;
  top:0;
  min-height:46px;
  min-width:100%;
  text-align: left;
  padding-left:2%;
  font-size:2em;
  font-family:'Lobster', serif;
  z-index:6;
  }
.header-menu{
  content:"";
  position: absolute;
  top:0;
  right:3%;
  cursor:pointer;
}
.header-menu:after{
  font-family: 'FontAwesome';
  content:"\f0c9";
  margin-left:10px;
  z-index:999999;
}

#menu-open{
  color:white;
  background-color:none;
  display:none;
  position: fixed;
  top: 46px;
  right:0;
  min-height: 100%;
  width: 100%;
  z-index: 5;
  text-decoration: none;
   font-family:'Lobster', serif;
}
.menu-contact{
  display:flex;
  background-color:#FF5E5B;
  position:fixed;
  bottom:0px;
  width:100%;
  text-align:center;
  }
.menu-contact-item{ 
  padding:0.5em;
  width:25%;
}
.github{
 background-color: #6e5494; 
}
.wordpress{
 background-color:#127baa; 
}
.instagram{
 background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
a.menu-contact{
  margin:15px;
  transition: transform .5s;
}
a.menu-contact:hover{
transform: scale(1.5);
}
a.github-menu-icon:before{
  font-family: 'FontAwesome';
  content:"\f09b";
  color: white;
  text-decoration:none;
  font-size:50px;
  vertical-align:middle;
}
a.wordpress-menu-icon:before{
  font-family: 'FontAwesome';
  content:"\f19a";
  color: white;
  text-decoration:none;
  font-size:50px;
  vertical-align:middle;
}
a.instagram-menu-icon:before{
  font-family: 'FontAwesome';
  content:"\f16d";
  color: white;
  text-decoration:none;
  font-size:50px;
  vertical-align:middle;
}
#plugins{
  
}
h2.plugins{
  font-family:
}
h2.plugins::before{
 font-family: 'FontAwesome';
 content:"\f085"; 
}

/* Mobile Styles and Tablet*/
@media (min-width:300px) and (max-width:600px){
  
  #header{
  min-height:75px;
  font-size:75px!important;    
  }
.header-menu{
  right:50px;
}
.header-menu:after{
}

#menu-open{
  background-color:#FFC857;
  display:none;
  position: fixed;
  top: 76px;
  right:0;
  min-height: 100%;
  width:100%!important;
  min-width: 100%;
}
  
}

.plugins{
  padding-left:50px;
  text-align: center;
}

body {
  margin: 0;
}
button#pause-button{
  color:white;
  background-color:#311432;
  border:none;
  position:absolute;
  bottom:25px;
  right:25px;
  text-align:center;
  min-width:50px;
  min-height:30px;
  padding:15px;
  filter: drop-shadow(5px 5px 10px #000000);
  font-size:18px;
}
video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}




@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

.plugin-megamenu-item{
    border-radius: 15px;
    background-color: white;
    padding: 15px;
    color: #311432;
    text-align: center;
}
.plugins-container{
  
}
.plugins-container h2{
  font-weight:300;
  font-size:2.9em;
  text-align:center;
}
.plugins-container h3{
  font-size:1.8em;
  margin:10px;
   text-align:center;
}
